@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

* {
    position: relative;
    font-size: 14px;
    font-family: monospace;
    transition: all 0.2s;
}

html, body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    background-image: url(index.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: yellow;
    font-size: 14px;
    font-family: monospace;
}

h1 {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

h1 > span {
    margin-right: 2ex;
}

a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 > * {
    margin-right: 2ex;
}

